{% comment %}
  Usage:
  {% render 'product-grid-item',
    prod: {product object}
  %}
{% endcomment %}

<div class="product-grid-item relative group">
    <div class="block image-wrapper relative pt-[140%]">
      <img
        width="{{ prod.featured_image.width }}"
        height="{{ prod.featured_image.height }}"
        src="{{ prod.featured_image | image_url: width: 410 }}"
        srcset="{{ prod.featured_image | image_url: width: 205 }} 1x, {{ prod.featured_image | image_url: width: 410 }} 2x"
        alt="{{ prod.featured_image.alt }}"
        class="absolute inset-0 object-cover h-full"
        loading="lazy"
      >
    </div>
    <div class="content">
      <a href="{{ prod.url }}" class="after:content-[''] after:inset-0 after:absolute">
        <div class="h3 dark mt-2 text-sm text-cloud-burst-500 group-hover:underline hover:text-cloud-burst-300">
          {{ prod.title }}
        </div>
      </a>
      <p class="flex flex-wrap items-center space-x-1 *:whitespace-nowrap">
        {% if prod.price_varies %}
          <span class="text-sm">
            From
          </span>
        {% endif %}
        <span class="text-sm">
          {{ prod.price | money_with_currency }}
        </span>
        {% if prod.compare_at_price_max != blank and prod.compare_at_price_max > prod.price %}
          <s class="text-sm">{{ prod.compare_at_price_max | money_with_currency }}</s>
        {% endif %}
      </p>
    </div>
    <ajax-cart-product-form>
      {% form 'product', prod %}
        <input type="hidden" name="id" value="{{ prod.selected_or_first_available_variant.id }}">
        <input type="hidden" name="quantity" value="1">
        <input type="submit" value="Add to cart">
        <div data-ajax-cart-messages="form">
          <!-- Error messages appear here -->
        </div>
        </button>
      {% endform %}
    </ajax-cart-product-form>
</div>
