<!doctype html>
<html lang="{{ request.locale.iso_code }}" class="no-js font-open-sans">
  <head>
    {% render 'head-meta' %}

    <link rel="icon" href="{{ 'favicon.ico' | asset_url }}">
    <link rel="canonical" href="{{ canonical_url }}">
    <link
      rel="preconnect"
      href="https://cdn.shopify.com"
      crossorigin>

    <title>
      {{ page_title }}
      {%- if current_tags %}
        &ndash; tagged "{{ current_tags | join: ', ' }}"{%- endif -%}
      {%- if current_page != 1 %}
        &ndash; Page {{ current_page -}}{%- endif -%}
      {%- unless page_title contains shop.name %}
        &ndash; {{ shop.name -}}{%- endunless -%}
    </title>

    <!-- header hook for Shopify plugins -->
    {{ content_for_header }}

    {% render 'head-css' %}
    {% render 'head-scripts' %}

    {% liquid
      render 'vite-tag', entry: 'theme.css'
      render 'vite-tag', entry: 'theme.js'
      render 'vite-tag', entry: '@/js/prodify/index.ts'
    %} 
  </head> 

  {% liquid
    assign bodyClasses = template | handleize | append: '-template'
    assign bodyClasses = bodyClasses | append: ' antialiased using-mouse'

    if settings.show_promo_bar
      assign bodyClasses = bodyClasses | append: ' promo-bar-visible'
    endif
  %}

  <body
    class="{{ bodyClasses }}"
    :class="$store.global.bodyClasses"
    x-data
    x-scrolled
    >

    <a class="absolute z-50 px-4 py-2 text-white bg-cloud-burst rounded-lg shadow-lg not-focus:sr-only" href="#main-content">
      Skip to content
    </a>

    {% section 'header' %}

    <main
      id="main-content"
      role="main"
      class="site-main relative">
      {{ content_for_layout }}
    </main>

    {% section 'footer' %}

    {% comment %} Styles for minicart wrapper in sections/minicart.liquid {% endcomment %}
    <div
      class="minicart-wrapper fixed top-[50px] right-[50px] z-100 max-[576px]:right-[20px] [[x-cloak]]:hidden"
      x-data
      x-show="$store.global.isMinicartVisible"
      x-on:click.outside="$store.global.isMinicartVisible = false"
      x-transition:enter="transition duration-300 ease-out"
      x-transition:enter-start="translate-x-[120%]"
      x-transition:enter-end="translate-x-0"
      x-transition:leave="transition duration-300 ease-in"
      x-transition:leave-start="translate-x-0"
      x-transition:leave-end="translate-x-[120%]"
      x-cloak
      :aria-hidden="$store.global.isMinicartVisible ? 'false' : 'true'"
      aria-modal="true"
      role="dialog">
      {% section 'minicart' %}
    </div>

    {% if settings.enable_predictive_search %}
      {% section 'predictive-search-main' %}
    {% endif %}

    {% if settings.enable_modal %}
      {% section 'modal' %}
    {% endif %}

    {% render 'liquid-ajax-cart' %}
  </body>
</html>
