{% schema %}
{
  "name": "header",
  "class": "header",
  "tag": "header",
  "settings": []
}
{% endschema %}

<div
  class="header-inner shell">
  <button
    :aria-expanded="$store.globals.isMobileMenuVisible"
    @click="$store.globals.openMobileMenu()"
    aria-label="Mobile Navigation Button"
    id="mobile-nav-trigger"
    x-data>
    <svg
      height="40"
      viewbox="0 0 100 80"
      width="40">
      <rect
        height="20"
        width="100"></rect>
      <rect
        height="20"
        width="100"
        y="30"></rect>
      <rect
        height="20"
        width="100"
        y="60"></rect>
    </svg>
  </button>
  <nav
    :class="$store.globals.isMobileMenuVisible ? 'open' : 'closed'"
    aria-label="Mobile Navigation Overlay"
    class="mobile-nav"
    id="mobile-nav"
    role="Navigation"
    x-cloak
    x-data>
    <button
      @click="$store.globals.closeMobileMenu()">
      Close
    </button>
    {% render 'mobile-menu' %}
  </nav>

  <a
    href="{{ routes.root_url }}" class="header-logo">
    Logo
  </a>
  {% render 'header-menu' %}

  <a
    href="{{ routes.cart_url }}" class="cart-icon-wrapper">
    <svg
      class="bi bi-bag bi-bag-empty"
      fill="currentColor"
      height="22"
      viewbox="0 0 16 16"
      width="22"
      xmlns="http://www.w3.org/2000/svg">
      <path
        d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V5z"/>
    </svg>
    <svg
      class="bi bi-bag-fill"
      fill="currentColor"
      height="22"
      viewbox="0 0 16 16"
      width="22"
      xmlns="http://www.w3.org/2000/svg">
      <path
        d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5z"/>
    </svg>
    <span
      data-ajax-cart-bind-state="cart.item_count">{{ cart.item_count }}</span>
  </a>

  {% comment %}
  // Output customer login links

  <ul>
    {% if shop.customer_accounts_enabled %}
    {% if customer %}
    <a href="{{ routes.account_url }}">
      {{ 'action.account' | t }}
    </a>
    {{ 'action.log_out' | t | customer_logout_link }}
    {% else %}
    {{ 'action.log_in' | t | customer_login_link }}
    {{ 'action.register' | t | customer_register_link }}
    {% endif %}
    {% endif %}
  </ul>
  {% endcomment %}
</div>

<style>
  #shopify-section-header {
    background: var(--brand-color);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10;
    padding: 0 20px;
  }

  .header .header-inner {
    margin: 0 auto;
    height: 60px;
    display: flex;
    align-items: center;
    color: white;
    position: relative;
  }

  .header .header-logo {
    color: white;
    text-decoration: none;
    font-size: 32px;
    text-transform: uppercase;
  }

  #mobile-nav-trigger {
    display: none;
    -webkit-appearance: none;
    appearance: none;
    -moz-appearance: none;
    background: transparent;
    border: 0;
  }

  #mobile-nav-trigger svg {
    fill: white;
    width: 26px;
    height: auto;
  }

  .mobile-nav {
    display: none;
    padding: 30px;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--brand-color);
    z-index: 100;
    transition: all 300ms;
    transform: translateX(-100%);
    overflow: auto;
  }

  @media(max-width: 576px) {
    .mobile-nav {
      display: block;
    }
  }

  #mobile-nav.open {
    transform: translateX(0%);
  }

  @media(max-width: 576px) {
    .header .header-logo {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    #mobile-nav-trigger {
      display: block;
    }
  }

  .cart-icon-wrapper {
    text-decoration: none;
    color: white;
    margin-left: auto;
    position: relative;
  }

  .cart-icon-wrapper span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -26%);
    color: var(--brand-color);
    z-index: 5;
    font-size: 12px;
    font-weight: bold;
  }

  .bi-bag {
    display: none;
  }

  .js-ajax-cart-not-empty .header .bi-bag-fill {
    display: block;
  }

  .js-ajax-cart-empty .header .bi-bag-empty {
    display: block;
  }

  .js-ajax-cart-empty .header .bi-bag-fill {
    display: none;
  }
</style>