{% schema %}
{
  "name": "product",
  "class": "product-section",
  "settings": []
}
{% endschema %}

{{ 'main-product.css' | asset_url | stylesheet_tag }}

<div class="shopify-section-main-product-inner shell" data-handle="{{ product.handle }}" data-id="{{ product.id }}"
  x-data="product"
  x-init="init({{product.variants | json | escape}}, {{product.selected_or_first_available_variant.id}})">
  <a class="skip-to-content-link" href="#product-info-{{ section.id }}">
    Skip to product info
  </a>
  <div class="flex pdp-main" style="position: relative;">
    <span style="position: absolute; top: 0; left: 0; z-index: 1; font-size: 10px;">
      {{ product.selected_or_first_available_variant.id }}
    </span>
    <div class="media">
      <div class="image-wrapper" style="padding-top: 137%;">
        {%- if product.selected_or_first_available_variant.image != null -%}
        variant image
        {% render 'image-srcset', image: product.selected_or_first_available_variant.image %}
        {% else %}
        no variant image
        {% render 'image-srcset', image: product.featured_image %}
        {%- endif -%}
      </div>
    </div>
    <div class="info" id="product-info-{{ section.id }}">
      <p class="caption">{{ product.type | upcase }}</p>
      <h1>{{ product.title }}</h1>
      <dl>
        <dt class="visually-hidden">Regular Price</dt>
        <dd x-text="$money(selectedVariantPrice)">{{ product.selected_or_first_available_variant.price | money }}</dd>
        <dd></dd>
      </dl>

      {% if product.options.size > 0 %}
      <div class="variant-radios">
        {% for option in product.options_with_values %}
        <fieldset>
          <legend>{{ option.name }}</legend>
          {% for value in option.values %}
          <input id="{{ option.name }}-{{ value }}" class="visually-hidden" type="radio" value="{{value}}"
            x-model="selectedOption{{ option.position }}" name="{{ option.name }}"
            {% if option.selected_value == value %}checked{% endif %}
            @change="onOptionChangeHandler($el, '{{ option.name }}-{{ value }}')" data-section="{{ section.id }}"
            data-url="{{ product.url }}" :data-index="{{forloop.index0}}"
            tabindex="{% if option.selected_value == value %}0{% else %}-1{% endif %}">
          <label for="{{ option.name }}-{{ value }}">
            {{ value }}
          </label>
          {% endfor %}
        </fieldset>
        {% endfor %}
      </div>
      {% endif %}

      <div class="quantity-row">
        <label for="quantity-control-input">Quantity</label>
        <div class="quantity-control-container">
          <button @click="quantity = Math.max(quantity - 1, 1)" :disabled="quantity == 0">
            <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" role="presentation"
              class="icon icon-minus" fill="none" viewBox="0 0 10 2">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M.5 1C.5.7.7.5 1 .5h8a.5.5 0 110 1H1A.5.5 0 01.5 1z"
                fill="currentColor">
              </path>
            </svg>
          </button>
          <input tabindex="-1" type="number" id="quantity-control-input" value="1" x-model="quantity"
            :disabled="quantity == 0">
          <button @click="quantity = quantity + 1" :disabled="quantity == 0">
            <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" role="presentation"
              class="icon icon-plus" fill="none" viewBox="0 0 10 10">
              <path fill-rule="evenodd" clip-rule="evenodd"
                d="M1 4.51a.5.5 0 000 1h3.5l.01 3.5a.5.5 0 001-.01V5.5l3.5-.01a.5.5 0 00-.01-1H5.5L5.49.99a.5.5 0 00-1 .01v3.5l-3.5.01H1z"
                fill="currentColor">
              </path>
            </svg>
          </button>
        </div>
      </div>
      {%- form 'product', product, id: product_form_id, class: 'product-form', novalidate: 'novalidate', data-type: 'add-to-cart-form' -%}
      <input type="hidden" name="id" x-model="selectedVariant">
      <input type="hidden" name="quantity" x-model="quantity">
      <input class="btn" name="add" style="margin-bottom: 10px;" x-bind:disabled="addToCartButtonText != 'Add to cart'"
        x-model="addToCartButtonText" type="submit"
        {% if product.selected_or_first_available_variant.available == false %}disabled{% endif %}
        {%- if product.selected_or_first_available_variant.available -%} value="Add to cart" {%- else -%}
        value="Sold out" {%- endif -%}>
      </input>
      <div data-ajax-cart-messages="form">
        <!-- Error messages appear here -->
      </div>
      {%- if product.selected_or_first_available_variant.available -%}
      <a type="button" class="btn inverted checkout-button" :href="`/cart/${selectedVariant}:1`" x-show="showBuyNow">
        Buy it now
      </a>
      {%- endif -%}
      {%- endform -%}

      <div class="description rte">
        {{ product.description }}
      </div>
    </div>
  </div>
</div>

<style>
  .product-section {
    padding: 50px;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Ubuntu, Helvetica Neue, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  }

  @media (max-width: 576px) {
    .product-section {
      padding: 15px;
    }
  }

  .product-section .shopify-section-main-product-inner .flex {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }

  .product-section .shopify-section-main-product-inner .flex .media {
    width: 100%;
    flex: 2 1 400px;
  }

  .product-section .shopify-section-main-product-inner .flex .media .image-wrapper {
    position: relative;
    width: 100%;
  }

  .product-section .shopify-section-main-product-inner .flex .media .image-wrapper img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  .product-section .shopify-section-main-product-inner .flex .info {
    flex: 1 1 300px;
  }

  .product-section .shopify-section-main-product-inner .flex .info .caption {
    letter-spacing: 1.3px;
    font-size: 10px;
    line-height: 12px;
    color: rgba(26, 27, 24, 0.75);
  }

  .product-section .shopify-section-main-product-inner .flex .info h1 {
    font-size: 40px;
    font-weight: 400;
    line-height: 52px;
  }

  .product-section .shopify-section-main-product-inner .flex .info dl dd {
    letter-spacing: 1.3px;
    font-size: 18px;
    line-height: 27px;
    font-weight: 400;
    margin: 15px auto;
  }

  .product-section .shopify-section-main-product-inner .flex .info fieldset {
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }

  .product-section .shopify-section-main-product-inner .flex .info fieldset legend {
    font-size: 13px;
    letter-spacing: 0.4px;
    line-height: 19.5px;
    color: rgba(26, 27, 24, 0.75);
    margin-bottom: 16px;
  }

  .product-section .shopify-section-main-product-inner .flex .info fieldset label {
    display: inline-block;
    background-color: rgba(0, 0, 0, .1);
    color: #1a1b18;
    padding: 10px 20px;
    border-radius: 40px;
    letter-spacing: 1px;
    font-size: 14px;
    cursor: pointer;
  }

  body:not(.using-mouse) .product-section .shopify-section-main-product-inner .flex .info fieldset input:focus+label {
    outline: #08f auto 2px;
  }

  .product-section .shopify-section-main-product-inner .flex .info fieldset label[data-unavailable="true"],
  .product-section .shopify-section-main-product-inner .flex .info fieldset input[disabled]+label {
    background-color: transparent;
    color: lightgray;
  }

  .product-section .shopify-section-main-product-inner .flex .info fieldset input:checked+label {
    background-color: var(--brand-color);
    color: white;
  }

  .product-section .shopify-section-main-product-inner .flex .info .quantity-row label {
    display: block;
    font-size: 13px;
    letter-spacing: 0.4px;
    line-height: 19.5px;
    color: rgba(26, 27, 24, 0.75);
    margin-bottom: 4px;
  }

  .product-section .shopify-section-main-product-inner .flex .info .quantity-row .quantity-control-container {
    display: flex;
    align-items: center;
    border: 1px solid rgba(26, 27, 24, 0.55);
    max-width: max-content;
    color: rgba(26, 27, 24, 0.75);
    font-family: Arial;
    font-size: 14px;
  }

  .product-section .shopify-section-main-product-inner .flex .info .quantity-row .quantity-control-container button {
    width: 45px;
    height: 45px;
    appearance: none;
    -webkit-appearance: none;
    background: transparent;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  .product-section .shopify-section-main-product-inner .flex .info .quantity-row .quantity-control-container button svg {
    width: 10px;
  }

  .product-section .shopify-section-main-product-inner .flex .info .quantity-row .quantity-control-container input {
    appearance: none;
    -webkit-appearance: none;
    border: none;
    pointer-events: none;
    width: 48px;
    text-align: center;
    padding: 0;
  }

  .product-section .shopify-section-main-product-inner .flex .info .quantity-row .quantity-control-container input[type=number]::-webkit-inner-spin-button,
  .product-section .shopify-section-main-product-inner .flex .info .quantity-row .quantity-control-container input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  .product-section .shopify-section-main-product-inner .flex .info form {
    margin: 25px auto;
  }

  .product-section .shopify-section-main-product-inner .flex .info .description {
    font-size: 16px;
    line-height: 28.8px;
  }

  .product-section .shopify-section-main-product-inner .flex .info .description em {
    font-style: italic;
  }

  .product-section .shopify-section-main-product-inner .flex .info .description a {
    color: rgba(68, 89, 88, 0.85);
  }
</style>