{% schema %}
  {
    "name": "header",
    "class": "section-header sticky top-0 z-20 shadow-md",
    "tag": "header",
    "settings": [
      {
      "type": "paragraph",
      "content": "t:sections.header.settings.paragraph"
      }
    ]
  }
{% endschema %}

{% if settings.show_promo_bar %}
  {% render 'promo-bar' %}
{% endif %}

<div class="px-6 md:px-8 bg-indigo-900">
  <div class="container flex items-center text-white relative mx-auto">
    <nav
      :class="$store.global.isMobileMenuVisible ? 'open' : 'closed'"
      aria-label="Mobile Navigation Overlay"
      class="block md:hidden"
      style="transition: all 300ms;"
      id="mobile-nav"
      role="navigation"
      x-cloak 
      x-data>
      <button
        id="mobile-nav-trigger"
        type="button"
        class="block border-0 bg-transparent text-white appearance-none [&>span>svg]:h-auto [&>span>svg]:w-6.5 [&>span>svg]:fill-white"
        @click="$store.global.toggleMobileMenu()"
        :aria-expanded="$store.global.isMobileMenuVisible"
        aria-label="Mobile Navigation Button"
        aria-controls="mobile-menu-list"
        x-data>
        <span class="sr-only">Menu</span>
        <span aria-hidden="true" x-show="!$store.global.isMobileMenuVisible" class="text-white">
          {% render 'icon-hamburger' %}
        </span>
        <span aria-hidden="true" x-show="$store.global.isMobileMenuVisible" class="text-white">
          {% render 'icon-close-x' %}
        </span>
      </button>
      {% render 'mobile-menu' %}
    </nav>

    <a href="{{ routes.root_url }}" class="header-logo ml-4 text-2xl uppercase text-white no-underline md:ml-0 md:text-[32px]">
      Slayed Dev
    </a>

    <div class="hidden md:block">
      {% render 'header-menu' %}
    </div>

    <div class="flex items-center space-x-3 self-center ml-auto">

      {% if settings.enable_modal %}
        <button
          type="button"
          class="fill-white p-2 text-white [&>svg]:h-7"
          @click="$store.global.openModal()"
          aria-label="Open Modal">
          {% render 'icon-bubble-bottom' %}
        </button>
      {% endif %}

      {% if settings.enable_predictive_search %}
        <a href="{{ routes.search_url }}" class="block fill-white p-2 text-white md:hidden [&>svg]:h-7">
          {% render 'icon-search' %}
        </a>
        <button
          type="button"
          class="hidden fill-white p-2 text-white md:block [&>svg]:h-7"
          @click="$store.global.isPredictiveSearchVisible = true"
          :aria-expanded="$store.global.isPredictiveSearchVisible ? 'true' : 'false'"
          aria-label="Search"
          aria-controls="predictive-search">
          {% render 'icon-search' %}
        </button>
      {% else %}
        <a href="{{ routes.search_url }}" class="fill-white p-2 text-white [&>svg]:h-7">
          {% render 'icon-search' %}
        </a>
      {% endif %}

      {% if shop.customer_accounts_enabled %}
        <a href="{{ routes.account_url }}" class="fill-white p-2 text-white [&>svg]:h-7">
          {% render 'icon-user' %}
        </a>
      {% endif %}


      <a
        href="{{ routes.cart_url }}"
        class="relative p-2 text-white [&>svg]:h-5.5 [&>svg]:w-auto"
        x-cloak>
        {% render 'icon-cart' %}
        <span data-ajax-cart-bind="item_count" class="absolute top-[58%] left-1/2 -translate-x-1/2 -translate-y-1/2 text-xs text-cloud-burst-500">
          {{- cart.item_count -}}
        </span>
      </a>
    </div>

  {% comment %}
    // Output customer login links

    <ul>
    {% if shop.customer_accounts_enabled %}
    {% if customer %}
    <a href="{{ routes.account_url }}">
    {{ 'action.account' | t }}
    </a>
    {{ 'action.log_out' | t | customer_logout_link }}
    {% else %}
    {{ 'action.log_in' | t | customer_login_link }}
    {{ 'action.register' | t | customer_register_link }}
    {% endif %}
    {% endif %}
    </ul>
  {% endcomment %}
  </div>

</div>
