{% schema %}
  {
    "name": "Product Section",
    "class": "section-main-product",
    "tag": "section",
    "settings": [
      {
        "type": "radio",
        "id": "picker_type",
        "label": "Variant Picker Type",
        "options": [
          {
            "value": "radio",
            "label": "Radio Buttons"
          }, {
            "value": "select",
            "label": "Select Dropdowns"
          }
        ],
        "default": "radio"
      }
    ]
  }
{% endschema %}

<div
  class="shopify-section-main-product-inner max-w-[1200px] mx-auto"
  data-handle="{{ product.handle }}"
  data-id="{{ product.id }}"
  data-url="{{ product.url }}"
  data-section="{{ section.id }}"
  data-prodify="{{ section.settings.picker_type }}"
  >

  <script type="application/json" data-prodify-variants-json>
    {{ product.variants | json }}
  </script>

  <a class="skip-to-content-link" href="#product-info-{{ section.id }}">
    Skip to product info
  </a>
  <div class="flex pdp-main" style="position: relative;">
    <div class="media" data-prodify-media-container>
      <span style="position: absolute; top: 0; left: 0; z-index: 1; font-size: 10px;">
        {{ product.selected_or_first_available_variant.id }}
      </span>
      <div
        class="image-wrapper"
        style="padding-top: 137%; overflow: hidden;">
        {% if product.selected_variant and product.selected_variant.image %}
          {% assign media = product.selected_variant.image %}
        {% else %}
          {% assign media = product.featured_image %}
        {% endif %}
        <img
          src="{{ media | image_url }}"
          alt="{{ media.alt }}"
          srcset="{{ media | image_url: width: 1000 }} 800w, {{ media | image_url: width: 1000 }} 1000w, {{ media | image_url: width: 1426 }} 1426w"
          sizes="(min-width: 830px) 55vw, 100vw"
          height="{{ media.height }}"
          width="{{ media.width }}"
          class="absolute h-full w-full object-cover"
          loading="eager"
          >
        <h1 class="text-4xl z-50 relative">
          {{ product.selected_or_first_available_variant.options }}
        </h1>
      </div>
    </div>
    <div class="info" id="product-info-{{ section.id }}">
      <p class="caption">{{ product.type | upcase }}</p>
      <h1>{{ product.title }}</h1>
      <div class="flex items-center py-2" data-prodify-price-container>
        <span class="sr-only">Regular Price</span>
        {% if product.selected_or_first_available_variant.compare_at_price %}
          <span class="line-through">
            {{ product.selected_or_first_available_variant.compare_at_price | money }}
          </span>
        {% endif %}
        <span>
          {{ product.selected_or_first_available_variant.price | money }}
        </span>
      </div>

      {% render 'product-variant-picker'
       , product: product,
       product_form_id: 'product-form-id',
       picker_type: section.settings.picker_type %}

      <div class="quantity-row">
        <label for="quantity-control-input">Quantity</label>
        <div class="quantity-control-container">
          <button type="button" data-prodify-quantity-decrement>
            {% render 'icon-minus' %}
          </button>
          <input
            tabindex="-1"
            type="number"
            id="quantity-control-input"
            value="1"
            disabled=""
            data-prodify-quantity-presentation>
          <button type="button" data-prodify-quantity-increment>
            {% render 'icon-plus' %}
          </button>
        </div>
      </div>

      <ajax-cart-product-form>
        <form
          action="{{ routes.cart_add_url }}"
          id="product_form_id"
          class="product-form"
          novalidate="novalidate"
          data-prodify-product-form>
          <input
            type="hidden"
            name="id"
            value="{{ product.selected_or_first_available_variant.id }}">
          <input
            type="hidden"
            name="quantity"
            value="1">
          <div class="mb-[10px]">
            <button
              type="submit"
              name="add"
              class="px-6 hover:bg-cloud-burst-400 bg-indigo-900 text-white w-full h-12 cursor-pointer disabled:cursor-default disabled:bg-gray-200 disabled:text-black"
              {% if product.selected_or_first_available_variant.available == false %}
              disabled
              {% endif %}>
              <span class="[[processing]_&]:hidden">
                {%- if product.selected_or_first_available_variant.available -%}
                  Add to cart
                {%- else -%}
                  Sold out
                {%- endif -%}
              </span>
              <span class="hidden [[processing]_&]:block">
                Adding to cart...
              </span>
            </button>
          </div> 
          <div data-ajax-cart-errors="form"><!-- Error messages appear here -->
          </div>
          {% comment %}
          {%- if product.selected_or_first_available_variant.available -%}
          <a
          type="button"
          class="w-full h-12 px-6 text-white bg-indigo-900 flex items-center justify-center hover:after:border-offset-1"
          :href="`/cart/${selectedVariant}:1`"
          x-show="showBuyNow"
          >
          Buy it now
          </a>
          {%- endif -%}
          {% endcomment %}
        </form>
      </ajax-cart-product-form>

      <div class="description rte">
        {{ product.description }}
      </div>
    </div>
  </div>
</div>

<style>
  input[type='radio'].disabled + label {
    text-decoration: line-through;
  }

  .section-main-product {
    padding: 50px;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Ubuntu, Helvetica Neue, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  }

  @media(max-width: 576px) {
    .section-main-product {
      padding: 15px;
    }
  }

  .section-main-product .shopify-section-main-product-inner .flex {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }

  .section-main-product .shopify-section-main-product-inner .flex .media {
    width: 100%;
    flex: 2 1 400px;
  }

  .section-main-product .shopify-section-main-product-inner .flex .media .image-wrapper {
    position: relative;
    width: 100%;
  }

  .section-main-product .shopify-section-main-product-inner .flex .media .image-wrapper img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  .section-main-product .shopify-section-main-product-inner .flex .info {
    flex: 1 1 300px;
  }

  .section-main-product .shopify-section-main-product-inner .flex .info .caption {
    letter-spacing: 1.3px;
    font-size: 10px;
    line-height: 12px;
    color: rgba(26, 27, 24, 0.75);
  }

  .section-main-product .shopify-section-main-product-inner .flex .info h1 {
    font-size: 40px;
    font-weight: 400;
    line-height: 52px;
  }

  .section-main-product .shopify-section-main-product-inner .flex .info dl dd {
    letter-spacing: 1.3px;
    font-size: 18px;
    line-height: 27px;
    font-weight: 400;
    margin: 15px auto;
  }

  .section-main-product .shopify-section-main-product-inner .flex .info fieldset {
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }

  .section-main-product .shopify-section-main-product-inner .flex .info fieldset legend {
    font-size: 13px;
    letter-spacing: 0.4px;
    line-height: 19.5px;
    color: rgba(26, 27, 24, 0.75);
    margin-bottom: 16px;
  }

  .section-main-product .shopify-section-main-product-inner .flex .info fieldset label {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 40px;
    letter-spacing: 1px;
    font-size: 14px;
    cursor: pointer;
  }

  body:not(.using-mouse) .section-main-product .shopify-section-main-product-inner .flex .info fieldset input:focus + label {
    outline: #08f auto 2px;
  }

  .section-main-product .shopify-section-main-product-inner .flex .info fieldset label[data-unavailable='true'],
  .section-main-product .shopify-section-main-product-inner .flex .info fieldset input[disabled] + label {
    background-color: transparent;
    color: lightgray;
  }

  .section-main-product .shopify-section-main-product-inner .flex .info .quantity-row label {
    display: block;
    font-size: 13px;
    letter-spacing: 0.4px;
    line-height: 19.5px;
    color: rgba(26, 27, 24, 0.75);
    margin-bottom: 4px;
  }

  .section-main-product .shopify-section-main-product-inner .flex .info .quantity-row .quantity-control-container {
    display: flex;
    align-items: center;
    border: 1px solid rgba(26, 27, 24, 0.55);
    max-width: max-content;
    color: rgba(26, 27, 24, 0.75);
    font-family: Arial;
    font-size: 14px;
  }

  .section-main-product .shopify-section-main-product-inner .flex .info .quantity-row .quantity-control-container button {
    width: 45px;
    height: 45px;
    appearance: none;
    -webkit-appearance: none;
    background: transparent;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  .section-main-product .shopify-section-main-product-inner .flex .info .quantity-row .quantity-control-container button svg {
    width: 10px;
  }

  .section-main-product .shopify-section-main-product-inner .flex .info .quantity-row .quantity-control-container input {
    appearance: none;
    -webkit-appearance: none;
    border: none;
    pointer-events: none;
    width: 48px;
    text-align: center;
    padding: 0;
  }

  .section-main-product .shopify-section-main-product-inner .flex .info .quantity-row .quantity-control-container input[type='number']::-webkit-inner-spin-button,
  .section-main-product .shopify-section-main-product-inner .flex .info .quantity-row .quantity-control-container input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  .section-main-product .shopify-section-main-product-inner .flex .info form {
    margin: 25px auto;
  }

  .section-main-product .shopify-section-main-product-inner .flex .info .description {
    font-size: 16px;
    line-height: 28.8px;
  }

  .section-main-product .shopify-section-main-product-inner .flex .info .description em {
    font-style: italic;
  }

  .section-main-product .shopify-section-main-product-inner .flex .info .description a {
    color: rgba(68, 89, 88, 0.85);
  }
</style>