<!doctype html>
<html lang="{{ request.locale.iso_code }}" class="no-js">
  <head>
    {% render 'head-meta' %}

    <link rel="icon" href="{{ 'favicon.static.ico' | asset_url }}">
    <link rel="canonical" href="{{ canonical_url }}">
    <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>

    <title>  
      {{ page_title }}
      {%- if current_tags %} &ndash; tagged "{{ current_tags | join: ', ' }}"{%- endif -%}
      {%- if current_page != 1 %} &ndash; Page {{ current_page -}}{%- endif -%}
      {%- unless page_title contains shop.name %} &ndash; {{ shop.name -}}{%- endunless -%}
    </title>

    <!-- header hook for Shopify plugins -->
    {{ content_for_header }}

    {% render 'head-css' %}

    {{ 'bundle.js' | asset_url | preload_tag: as: 'script' }}
    {{ 'bundle.css' | asset_url | stylesheet_tag: preload: true }}

    <script>
      document.documentElement.className = document.documentElement.className.replace('no-js', 'js')
      if (Shopify.designMode) {
        document.documentElement.classList.add('shopify-design-mode');
      }
    </script>
  </head>

  {% liquid
    assign bodyClasses = template | handleize | append: '-template'
    assign bodyClasses = bodyClasses | append: ' antialiased using-mouse'

    if settings.show_promo_bar 
      assign bodyClasses = bodyClasses | append: ' promo-bar-visible'
    endif
  %}

  <body
    class="{{ bodyClasses }}"
    :class="$store.global.bodyClasses"
    x-data
  >  
    <a class="skip-to-content-link sr-only" href="#main-content"> Skip to content </a>
    <div
      class="minicart-wrapper"
      x-data
      x-show="$store.global.isMinicartVisible"
      x-on:click.outside="$store.global.isMinicartVisible = false"
      x-transition:enter="transition ease-out duration-300"
      x-transition:enter-start="off-screen-right"
      x-transition:enter-end="right-50"
      x-transition:leave="transition ease-in duration-300"
      x-transition:leave-start="right-50"
      x-transition:leave-end="off-screen-right"
      x-cloak
      :aria-hidden="$store.global.isMinicartVisible ? 'false' : 'true'"
      aria-modal="true"
      role="dialog"
    >
      {% section 'minicart' %}
    </div>

    {% section 'header' %}
    
    {% if settings.enable_predictive_search %}
      {% section 'predictive-search-main' %}
    {% endif %}

    <main
      id="main-content"
      role="main"
      class="site-main-tw-component relative"
    >
      {{ content_for_layout }}
    </main>

    {% section 'footer' %}

    {% render 'liquid-ajax-cart' %}

    <script defer src="{{ 'bundle.js' | asset_url }}"></script>
  </body>
</html>
